<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.julianneyi.shining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Food_list.tteokbokki"></activity>
        <activity android:name=".Food_list.clean" />
        <activity android:name=".Food_list.cheese" />
        <activity android:name=".Food_list.alone" />
        <activity android:name=".Food_list.child" />
        <activity android:name=".Food_list.sweet" />
        <activity android:name=".Food_list.tosweat" />
        <activity android:name=".Food_list.beef" />
        <activity
            android:name=".Food_list.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Food_list.family" />
        <activity android:name=".Food_list.workman" />
        <activity android:name=".ShowRandomResultActivity" />
        <activity android:name=".CustomDialog" />
        <activity android:name=".RandomMoneyActivity" />
        <activity android:name=".DutchActivity" />
        <activity android:name=".ChoseDRActivity" />
        <activity android:name=".ChoseCateActivity" />
        <activity android:name=".Food_list.Clean_alcohol_food" />
        <activity android:name=".Food_list.Korea_food" />
        <activity android:name=".Food_list.Bunsik_food" />
        <activity android:name=".Food_list.Half_alcohol_food" />
        <activity android:name=".Food_list.Alcohol_food" />
        <activity android:name=".Food_list.Snack_food" />
        <activity android:name=".Food_list.Spicy_food" />
        <activity android:name=".Store_list" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>