<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.julianneyi.shining">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="츄릅"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Food_list.GirlActivity"/>
        <activity android:name=".Food_list.OneatonedrinkActivity" />
        <activity android:name=".Food_list.BackfutureActivity" />
        <activity android:name=".Food_list.NospicyActivity" />
        <activity android:name=".Food_list.BornKoreanActivity" />
        <activity android:name=".Food_list.AnjuActivity" />
        <activity android:name=".Food_list.HotwaterActivity" />
        <activity android:name=".Food_list.SnackActivity" />
        <activity android:name=".Food_list.AlssaActivity" />
        <activity android:name=".Food_list.TteokbokkiActivity" />
        <activity android:name=".Food_list.CleanActivity" />
        <activity android:name=".Food_list.CheeseActivity" />
        <activity android:name=".Food_list.AloneActivity" />
        <activity android:name=".Food_list.ChildActivity" />
        <activity android:name=".Food_list.SweetActivity" />
        <activity android:name=".Food_list.TosweatActivity" />
        <activity android:name=".Food_list.BeefActivity" />
        <activity android:name=".Food_list.FamilyActivity" />
        <activity android:name=".Food_list.WorkmanActivity" />
        <activity android:name=".ShowRandomResultActivity" />
        <activity android:name=".RandomMoneyActivity" />
        <activity android:name=".DutchActivity" />
        <activity android:name=".ChoseDRActivity" />
        <activity android:name=".ChoseCateActivity" />
        <activity android:name=".Store_list" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>